<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AI Demo</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">  

    <style>
	td, th {
	  border: 1px solid #cccccc;
	  text-align: left;
	  padding: 8px 8px 8px 8px;
	}
	tr:nth-child(even) {
  		background-color: #dddddd;
	}  
	</style>  
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Miia: AI Demo</a>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Help</button>
        </div>
    </nav>
    <div class="container">
        <div id="content" style="margin-top:2em">{% block content %}{% endblock %}</div>
    </div>
</body>

<footer>
	<div class = "container" id = 'foot'>
		<br><br><br><br><br>
		<p>This demo was made as part of a project that arose from a COVID-19 hackathon: <a href="https://miia.webflow.io/"><em>Miia</em>, a two way app platform for elderly and caregivers</a>. 
		<p>Note that AI models are not 100% accurate. Please consult your doctor for proper medical analysis if you have any concerns about the results above. </p>
        <p>The emotion prediction model was trained on publically available images of faces of famous people. For best results, the face should be forward facing and centered in the image. The BMI prediction model was adapted from a model trained from a private dataset. </p>
		<p style="font-size:20px"><em>Links:</em></p>
        <a href="https://devpost.com/software/medical-intelligence-applied">Devpost Link</a><br>
		<a href="https://miia.webflow.io/">Miia Website</a><br>
        <p>Contant Us? Partner with us? Sign up for our Mailing List? Please email us at <a href="mailto: miia@dr.com">miia@dr.com</a></p>
        <a href="https://miia.webflow.io/">Miia App - AWS demo (TBD)</a><br>
        <a href="https://www.figma.com/proto/5ambIzgWZjBFHcneb3hibx/Miia?node-id=48%3A1536&viewport=4390%2C15152%2C0.4423772394657135&scaling=scale-down">Try our prototype on Figma</a>
		<br><br>
		<a href="https://jamanetwork.com/journals/jamacardiology/fullarticle/2673289">Reference for BMI and cardiovascular disease risk statistics. Khan et al. (2018), JAMA Cardiology.</a>
	</div>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>    
</footer>

</html>